@import "tailwindcss";

/* =========================
   DARK THEME (DEFAULT)
========================= */
:root,
[data-theme="dark"] {
  color-scheme: dark;
  --main: black;
  --bg-main: #0a0a0a;
  --bg-secondary: #121212;
  --bg-card: #1a1a1a;

  /* Kept consistent */
  --text-main: #ffffff;
  --text-secondary: #908f8f;
  --text-muted: #8a8a8a;

  --accent-primary: #b2d959;
  --border-light: #292929;

  /* Google Brand Colors */
  --google-blue: #387ded;
  --google-red: #bf382c;
  --google-yellow: #fdd663;
  --google-green: #81c995;
}

/* =========================
   LIGHT THEME
========================= */
[data-theme="light"] {
  color-scheme: light;
  --main: white;
  --bg-main: #f8f9fa;
  --bg-secondary: #f0f1f3;
  --bg-card: #ffffff;

  /* Text colors kept identical to dark theme */
  --text-main: #272626;
  --text-secondary: #908f8f;
  --text-muted: #8a8a8a;

  --accent-primary: #5d8c14;
  --border-light: #d1d5db;

  /* Google Brand Colors */
  --google-blue: #1a73e8;
  --google-red: #ea4335;
  --google-yellow: #fbbc05;
  --google-green: #34a853;
}

/* =========================
   GLOBAL STYLES
========================= */

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
}

* {
  box-sizing: border-box;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

button {
  cursor: pointer;
}

/* =========================
   FONT
========================= */
@font-face {
  font-family: "Genos";
  src: url("./assets/fonts/genos.ttf") format("truetype");
  font-display: swap;
}

.font-heading {
  font-family: "Genos", sans-serif;
}


::-webkit-scrollbar{
  display: none;
}

