@import "tailwindcss";

:root {
  --bg-main: #0a0a0a;
  --bg-secondary: #121212;
  --bg-card: #1a1a1a;

  --text-main: #ffffff;
  --text-secondary: #c7c7c7;
  --text-muted: #8a8a8a;

  --accent-primary: #b2d959;

  --border-light: #292929;
}

*{
  /* background-color: var(--bg-main); */
  color: var(--text-main)
}

button{
  cursor: pointer;
}

@font-face {
  font-family: "Genos";
  src: url("./assets/fonts/genos.ttf") format("truetype");
  font-display: swap;
}

.font-heading {
  font-family: "Genos", sans-serif;
  font: italic;
}